html,

body {
	background-color: #FFE6E1;
	font-family: "Lucida Console", "Courier New", monospace;
}

h1 {
	font-family: "Lucida Console", "Courier New", monospace;
	font-size: 50;
}

li {
	font-size: 25px;
}

p {
	font-size: 18px;
}

.picture1 img {
	float: right;
	padding-right: 5px;
	width: 15%;
}

.picture2 img {
	align: left;
    width: 45%;
}

.tab {
	margin-left: 20px;
	font-size: 18px;
}
