html,

body {
	background-color: #E6E6FA;
	font-family: "Lucida Console", "Courier New", monospace;
}

h1 {
	font-family: "Lucida Console", "Courier New", monospace;
	font-size: 50;
}

.wrapper {
    display: flex;
}

.wrapper > div {
    flex: 1;
}

.box1 {
  border: 2px solid black;
  padding-left: 20px;
}

.box2 {
  border: 2px solid black;
  padding-left: 20px;
}

.box3 {
  border: 2px solid black;
  padding-left: 20px;
}

.box4 {
  border: 2px solid black;
  padding-left: 20px;
}


   